* {
    margin: 0px;
    padding: 0px;
}

#bracket {
    width: 1160px;
    padding: 20px;
    margin-top: 20px !important;
    margin-bottom: 20px;
    height: 1070px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../img/retina_wood/retina_wood.png");
}

.center {
    text-align: center;
    margin-bottom: 20px;
}

.game {
    display: block;
    vertical-align: top;
}

.team {
    font-size: 0.8rem;
    text-align: left;
    width: 120px;
    height: 20px;
    border: 0px solid transparent;
    padding-left: 2px;
    vertical-align: top;
    border-radius: 0px;
    color: #fff;
    background-color: #999;
    display: block;
    cursor: pointer;
}

.win {
    text-decoration: none;
    font-weight: bold;
    background-color: #069;
}

.loss {
    text-decoration: line-through;
    font-weight: normal;
    background-color: #eee;
    color: #000;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: #999;
}

.right {
    float: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.primary {
    color: #069;
}

.btn-submit {
    display: inline-block;
    font-size: 1.2rem;
    padding: 10px;
    background-color: #069;
    color: #fff;
    border: 0px solid transparent;
    display: none;
}

.region {
    display: inline-block;
    font-size: 0em;
    width:500px;
    height: 500px;
}

.col {
    width: 120px;
    height: 500px;
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
}

.g0 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.g1 {
    margin-top: 40px;
    margin-bottom: 80px;
}

.g2 {
    margin-top: 100px;
    margin-bottom: 200px;
}

.g3 {
    margin-top: 220px;
}

#East, #West {
    margin-left: 10px;
}

#Midwest, #South {
    margin-left: 110px;
}

#finals {
    display: block;
    margin: 0 auto;
    text-align: center;
}

#final-four {
    width: 120px;
    margin: 0 auto;
    position: relative;
    bottom: 600px;
    text-align: center;
}

#final-four > .game, #final-four > p {
    margin: 10px;
    display: inline;   
}

#final-four > p {
    font-size: 0.8rem;
}

.container {
    overflow-y: hidden;
    overflow-x: scroll;
}

.court {
    width: 100%;
    background-color: #eee;
    background-image: url("../img/retina_wood/retina_wood.png");
}

.button.is-outlined {
    background-color: #fff !important;
}

.button.is-outlined:hover {
    background-color: hsl(171, 100%, 41%) !important;
}