<!DOCTYPE html>
<html>
<head>
    <title>Dojo Bracket</title>
    <link rel="stylesheet" type="text/css" href="/static/node_modules/bulma/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bracket.css">
    <link rel="stylesheet" type="text/css" href="/static/css/admin.css">
    <link rel="icon" type="img/ico" href="/static/img/logo/logo.png">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
</head>
<body>

<div class="container">
    <div class="hero is-dark">
        <div class="hero-body is-bold">
            <h1 class="title">Admin page</h1>
        </div>
    </div>
    
    <div class="buttons has-addons is-centered">
        <a href="/" class="button is-info">
            <span class="icon is-small">
                <i class="fas fa-arrow-circle-left"></i>
            </span>
            <span>Back</span>
        </a>
        <button data-submit="submit" class="button is-success">
            <span class="icon is-small">
                <i class="fas fa-save"></i>
            </span>
            <span>Save Bracket</span>
        </button>
        <a href="/admin" class="button is-warning">
            <span class="icon is-small">
                <i class="fas fa-undo"></i>
            </span>
            <span>Reset Bracket</span>
        </a>
        <form action="/admin/calculate" method="post" style="display: inline;">
            <input type="hidden" name="admin" value="{{user._id}}">
            <button class="button is-danger" id="calc">
                <span class="icon is-small">
                    <i class="fas fa-cogs"></i>
                </span>
                <span>Calculate Scores</span>
            </button>
        </form>
    </div>

    <!-- save success message here -->
    <div class="message-spacing" data-message="success" style="display:none;">
        <div class="notification is-primary">
            <button class="delete" data-hide="hide"></button>
            Your bracket has been saved.
        </div>
    </div>

    <article class="message is-info">
        <div class="message-header">
            <span class="icon">
                <i class="fas fa-basketball-ball"></i>
            </span>
            <strong>Debug</strong>
            <button class="delete" data-hide="hide"></button>
        </div>
        <div class="message-body">
            {{ user }}
        </div>
    </article>
    

    <div class="court">
        <div id="bracket">content!</div>
    </div>

</div>

<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p class="subtitle">
                <span class="icon is-medium">
                    <i class="fas fa-basketball-ball"></i>
                </span>
                <span>Dojo Bracket 2018</span>
                <a href="https://github.com/wgoode3/bracket-platform" target="_blank" class="text"><span class="icon is-medium"><i class="fab fa-github"></i></span><span>Fork me on GitHub</span></a>
            </p>
        </div>
    </div>
</footer>

<!-- load all the teams -->
<script type="text/javascript" src="/static/js/teams.js"></script>

<!-- the bracket filling out and saving js -->
<script type="text/javascript" src="/static/js/admin.js"></script>

</body>
</html>